*{
    margin: 0px;
    padding: 0px;
}
.texto_centrado{
    max-width: 550px;
    margin: 0 auto;
    text-align: center;
}
.boton:hover{
    background-color: grey;
    transform: skew(-45deg);
}

.texto_centrado2{
    max-width: 550px;
    margin: 0 auto;
    text-align: center;
}
.boton2:hover{
    transform: scale(2);
}
